/* navbar.css */
/* Start Global Rules */
/* ... Your global rules */

/* Start Navbar */
header {
    min-height: 80px;
    display: flex;
  }
  
  @media (max-width: 767px) {
    header {
      min-height: auto;
      display: initial;
    }
  }
  
  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  @media (max-width: 767px) {
    header .container {
      flex-direction: column;
      justify-content: center;
    }
  }
  
  header .logo {
    color: #5d5d5d;
    font-style: italic;
    text-transform: uppercase;
    font-size: 20px;
  }
  
  img, svg {
    vertical-align: middle;
    width: 40px;
    padding-top: 0;
  }

  @media (max-width: 767px) {
    header .logo {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  
  header .links {
    display: flex;
    align-items: center;
  }
  
  @media (max-width: 767px) {
    header .links {
      text-align: center;
      gap: 10px;
    }
  }
  
  /* ... Other styles specific to Navbar */
 
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .links li {
    margin-left: 30px;
    color: #5d5d5d;
    cursor: pointer;
    transition: .3s;
  }

  .links li:last-child {
    border-radius: 20px;
    padding: 10px 20px;
    color: #FFF;
    background-color: #6c63ff;
  }

  .links li:not(:last-child):hover {
    color: #6c63ff;
  }
