/* RecentPaper.css
.container h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .col p {
    margin: 10px 0;
  }
   */
   /* RecentPaper.css */
/* Add your desired styles for the RecentPaper component */
/* RecentPaper.css */
/* #rec h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
#rec {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #63b6e3;
    justify-content: center; 
    align-items: center; 
  }
  
  #columnrec div {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    margin: 0;
    color: #333;
  }
  
  #columnrec div:last-child {
    border-bottom: none;
  }
   */
  /* RecentPaper.css */

#rec {
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    border: 3px solid #a49797;
    border-radius: 5px;
    padding: 10px;
    /* background-color: #63b6e3; */
    margin-top: 20px;
    margin-left: 50px;
    box-shadow: 8px 8px lightblue;
  }
  
  #columnrec div a{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #333;
    margin: 4px;
    padding: 10px 0;
  }
  
  /* Style all direct children of #columnrec */
  #columnrec > * {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    width: 100%;
  }
  
  #columnrec > *:last-child {
    border-bottom: none;
  }

  .rec-clickable {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .rec-clickable:hover {
    background-color: #f0f0f0;
  }
  